<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!--    <title>Getting Started: Serving Web Content</title>-->
    <title>Блог сайта - заголовочек</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>
</head>









<body>
<header th:insert="blocks/header :: header">

</header>


<div class="container mt-5 mb-5" >
    <h1>Вот тут - добавление таска</h1>
    <form action="/blog/add" method="post">
        <input type="text" name="task_name" placeholder="Введите название таска" class="form-control"><br>
        <input type="text" name="parent_task_id" placeholder="Введите id родителя таска" class="form-control"><br>
        <button type="submit" class="btn btn-success">Кнопка "Добавить таск" ))</button><br>
    </form>
</div>


<div th:insert="blocks/footer :: footer">

</div>


</body>
</html>