<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!--    <title>Getting Started: Serving Web Content</title>-->
    <title>Блог сайта - заголовочек</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>
</head>









<body>
<header th:insert="blocks/header :: header">

</header>


<div class="container mt-5">
    <h1>Блог сайта! Вот так заголовочек)))</h1>
    <div th:each="elem : ${tasks}" class="alert alert-info mt-2">
        <h3 th:text="${elem.task_name}"/>
        <p th:text="${elem.parent_task_id}"/>
        <a th:href="'/blog/' + ${elem.id}" class="btn btn-warning">Посмотреть детальнее...</a>
    </div>
</div>


<div th:insert="blocks/footer :: footer">

</div>



</body>
</html>