<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!--    <title>Getting Started: Serving Web Content</title>-->
    <title th:text="'TASK TRACKER - Прибавить ко времени работы над заданием'"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>
</head>


<body>
<header th:insert="blocks/header :: header"></header>

<div th:if="${param.error}">
    Invalid username and password.
</div>
<div th:if="${param.logout}">
    You have been logged out.
</div>



<div class="container mt-5 mb-5">
    <h1>Прибавить ко времени работы над заданием</h1>
    <form method="post">
        <input type="text" name="hours" placeholder="Введите количество часов"
               class="form-control"><br>
        <input type="text" name="minutes" placeholder="Введите количество минут"
               class="form-control"><br>
        <button type="submit" class="btn btn-success">Прибавить</button><br>
    </form>
</div>

    </form>
</div>




<div th:insert="blocks/footer :: footer"></div>

</body>
</html>