<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!--    <title>Getting Started: Serving Web Content</title>-->
    <title th:text="'TASK TRACKER - Статистика времени по подзадачам'"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

</head>


<body>
<header th:insert="blocks/header :: header"></header>
<header th:insert="blocks/scriptsForBootstrap :: scriptsForBootstrap">
</header>



<div th:if="${param.error}">
    <div class="alert alert-warning alert-dismissible fade show" role="alert" th:text="'Неверный логин или пароль'">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</div>

<div th:if="${param.logout}">
    <div class="alert alert-success alert-dismissible fade show" role="success" th:text="'Выход успешно выполнен'">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</div>







<div class="container mt-5 mb-5">
    <h1>Статистика времени по подзадачам</h1><br>
<!--    <div th:each="el : ${task}" }>-->


<!--    </div>-->
    <div class="container">
        <table class="table table-hover">

            <thead class="thead-dark">
            <tr>
                <th>#</th>
                <th>Задача</th>
                <th>Фактическое время работы над задачей</th>
                <th>Планируемое время работы над задачей</th>
                <th>Ответственный за выполнение</th>
            </tr>
            </thead>


            <tbody>
            <div th:each="triple : ${triples}" }>
                <div th:if="${triple.isLeaf}">

                    <div th:if="${triple.getTask.getActualTime.getTimeAsMinutes <= triple.getTask.getPlannedTime.getTimeAsMinutes && (triple.getTask.getActualTime.getTimeAsMinutes > 0 && triple.getTask.getPlannedTime.getTimeAsMinutes > 0)}">
                        <tr class="table-success">
                            <td th:text="${triple.getNumber}" />
                            <td>
                                <a th:href="'/tasks/' + ${triple.getTask.getTaskId}" class="alert-link" th:text="${triple.getTask.getTaskName}"/>
                            </td>
                            <td th:text="${triple.getTask.getActualTime.getDays} + ' дней ' + ${triple.getTask.getActualTime.getHours} + ' часов ' + ${triple.getTask.getActualTime.getMinutes} + ' минут'" />
                            <td th:text="${triple.getTask.getPlannedTime.getDays} + ' дней ' + ${triple.getTask.getPlannedTime.getHours} + ' часов ' + ${triple.getTask.getPlannedTime.getMinutes} + ' минут'" />
                            <div th:if="${triple.getTask.getUserSelectedTheTask}">
                                <td>
                                    <a th:href="'/users/' + ${triple.getTask.getUserSelectedTheTask.getUserId}" class="alert-link" th:text="${triple.getTask.getUserSelectedTheTask.getUsername}"/>
                                </td>
                            </div>
                            <div th:if="!${triple.getTask.getUserSelectedTheTask}">
                                <td></td>
                            </div>
                        </tr>
                    </div>

                    <div th:if="${triple.getTask.getActualTime.getTimeAsMinutes > triple.getTask.getPlannedTime.getTimeAsMinutes && (triple.getTask.getActualTime.getTimeAsMinutes > 0 && triple.getTask.getPlannedTime.getTimeAsMinutes > 0)}">
                        <tr class="table-danger">
                            <td th:text="${triple.getNumber}" />
                            <td>
                                <a th:href="'/tasks/' + ${triple.getTask.getTaskId}" class="alert-link" th:text="${triple.getTask.getTaskName}"/>
                            </td>
                            <td th:text="${triple.getTask.getActualTime.getDays} + ' дней ' + ${triple.getTask.getActualTime.getHours} + ' часов ' + ${triple.getTask.getActualTime.getMinutes} + ' минут'" />
                            <td th:text="${triple.getTask.getPlannedTime.getDays} + ' дней ' + ${triple.getTask.getPlannedTime.getHours} + ' часов ' + ${triple.getTask.getPlannedTime.getMinutes} + ' минут'" />
                            <div th:if="${triple.getTask.getUserSelectedTheTask}">
                                <td>
                                    <a th:href="'/users/' + ${triple.getTask.getUserSelectedTheTask.getUserId}" class="alert-link" th:text="${triple.getTask.getUserSelectedTheTask.getUsername}"/>
                                </td>
                            </div>
                            <div th:if="!${triple.getTask.getUserSelectedTheTask}">
                                <td></td>
                            </div>
                        </tr>
                    </div>

                    <div th:if="${(triple.getTask.getActualTime.getTimeAsMinutes == 0 || triple.getTask.getPlannedTime.getTimeAsMinutes == 0)}">
                        <tr class="table-warning">
                            <td th:text="${triple.getNumber}" />
                            <td>
                                <a th:href="'/tasks/' + ${triple.getTask.getTaskId}" class="alert-link" th:text="${triple.getTask.getTaskName}"/>
                            </td>
                            <td th:text="${triple.getTask.getActualTime.getDays} + ' дней ' + ${triple.getTask.getActualTime.getHours} + ' часов ' + ${triple.getTask.getActualTime.getMinutes} + ' минут'" />
                            <td th:text="${triple.getTask.getPlannedTime.getDays} + ' дней ' + ${triple.getTask.getPlannedTime.getHours} + ' часов ' + ${triple.getTask.getPlannedTime.getMinutes} + ' минут'" />
                            <div th:if="${triple.getTask.getUserSelectedTheTask}">
                                <td>
                                    <a th:href="'/users/' + ${triple.getTask.getUserSelectedTheTask.getUserId}" class="alert-link" th:text="${triple.getTask.getUserSelectedTheTask.getUsername}"/>
                                </td>
                            </div>
                            <div th:if="!${triple.getTask.getUserSelectedTheTask}">
                                <td></td>
                            </div>
                        </tr>
                    </div>



                </div>
                <div th:if="!${triple.isLeaf}">
                    <tr>
                        <td th:text="${triple.getNumber}" />
                        <td>
                            <a th:href="'/tasks/' + ${triple.getTask.getTaskId}" class="alert-link" th:text="${triple.getTask.getTaskName}"/>
                        </td>
                        <td th:text="${triple.getTask.getActualTime.getDays} + ' дней ' + ${triple.getTask.getActualTime.getHours} + ' часов ' + ${triple.getTask.getActualTime.getMinutes} + ' минут'" />
                        <td th:text="${triple.getTask.getPlannedTime.getDays} + ' дней ' + ${triple.getTask.getPlannedTime.getHours} + ' часов ' + ${triple.getTask.getPlannedTime.getMinutes} + ' минут'" />
                        <div th:if="${triple.getTask.getUserSelectedTheTask}">
                            <td>
                                <a th:href="'/users/' + ${triple.getTask.getUserSelectedTheTask.getUserId}" class="alert-link" th:text="${triple.getTask.getUserSelectedTheTask.getUsername}"/>
                            </td>
                        </div>
                        <div th:if="!${triple.getTask.getUserSelectedTheTask}">
                            <td></td>
                        </div>
                    </tr>
                </div>
            </div>

            </tbody>


            <tr class="table-primary">
                <th></th>
                <th>Сумма</th>
                <td th:text="${actualTimeSum.getDays} + ' дней ' + ${actualTimeSum.getHours} + ' часов ' + ${actualTimeSum.getMinutes} + ' минут'" />
                <td th:text="${plannedTimeSum.getDays} + ' дней ' + ${plannedTimeSum.getHours} + ' часов ' + ${plannedTimeSum.getMinutes} + ' минут'" />
                <th></th>
            </tr>







        </table>



        <div>
            <div th:if="${warningAttribute}">
                <div class="alert alert-danger mt-2">
                    <p th:text="'Израсходовано времени: ' + ${plan} + '%'" />
                </div>
            </div>
            <div th:if="${successAttribute}">
                <div class="alert alert-success mt-2">
                    <p th:text="'Израсходовано времени: ' + ${plan} + '%'" />
                </div>
            </div>
        </div>



    </div>


</div>


<div th:insert="blocks/footer :: footer"></div>

</body>
</html>