<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!--    <title>Getting Started: Serving Web Content</title>-->
    <title th:text="'TASK TRACKER - Редактирование пользователя'"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>
</head>


<body>
<header th:insert="blocks/header :: header"></header>


<div th:if="${param.error}">
    Invalid username and password.
</div>
<div th:if="${param.logout}">
    You have been logged out.
</div>


<div class="container mt-5 mb-5">
    <h1>Редактирование пользователя</h1>
    <div th:each="el : ${user}" }>
        <form method="post">
            <input type="text" th:value="${el.firstName}" name="firstName" placeholder="Введите имя пользователя"
                   class="form-control"><br>
            <input type="text" th:value="${el.lastName}" name="lastName" placeholder="Введите фамилию пользователя"
                   class="form-control"><br>
            <input type="text" th:value="${el.secondName}" name="secondName"
                   placeholder="Введите отчество пользователя" class="form-control"><br>
            <input type="email" th:value="${el.eMail}" name="eMail" placeholder="Введите eMail"
                   class="form-control"><br>
            <textarea name="aboutMe" placeholder="Заполните поле 'О себе'" class="form-control"
                      th:text="${el.aboutMe}"/><br>
            <button type="submit" class="btn btn-success">Обновить информацию о пользователе</button>
            <br>
        </form>
    </div>
</div>


<div th:insert="blocks/footer :: footer"></div>


</body>
</html>