<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!--    <title>Getting Started: Serving Web Content</title>-->
    <title th:text="'TASK TRACKER - Добавление пользователя'"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>
</head>


<body>
<header th:insert="blocks/header :: header">
</header>


<div th:if="${param.error}">
    Invalid username and password.
</div>
<div th:if="${param.logout}">
    You have been logged out.
</div>


<div class="container mt-5 mb-5">
    <h1>Добавление пользователя</h1>
    <form action="/users/add" method="post">

        <input type="text" name="username" placeholder="Введите логин (обязательное поле)" class="form-control"><br>
        <input type="text" name="password" placeholder="Введите пароль (обязательное поле)" class="form-control"><br>

        <input type="text" name="firstName" placeholder="Введите имя пользователя" class="form-control"><br>
        <input type="text" name="lastName" placeholder="Введите фамилию пользователя" class="form-control"><br>
        <input type="text" name="secondName" placeholder="Введите отчество пользователя" class="form-control"><br>
        <input type="text" name="eMail" placeholder="Введите eMail" class="form-control"><br>
        <textarea name="aboutMe" placeholder="Заполните поле 'О себе'" class="form-control"></textarea><br>
        <button type="submit" class="btn btn-success">Добавить пользователя</button>
        <br>
    </form>
</div>


<div th:insert="blocks/footer :: footer">

</div>


</body>
</html>