<!--<div th:fragment="header">-->
<!--    <header class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">-->
<!--        <p class="h5 my-0 me-md-auto fw-normal">BLOG</p>-->
<!--        <nav class="my-2 my-md-0 me-md-3">-->
<!--            <a class="p-2 text-dark" href="/">Главная !!!</a>-->
<!--            <a class="p-2 text-dark" href="/blog">*Блог*</a>-->
<!--            <a class="p-2 text-dark" href="/blog/add">*Добавить новый таск*</a>-->
<!--            <a class="p-2 text-dark" href="/about">Про нас :-)</a>-->
<!--        </nav>-->
<!--        <a class="btn btn-outline-primary" href="#">Sign up</a>-->
<!--    </header>-->
<!--</div>-->



<div th:fragment="header">
    <header class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
        <p class="h5 my-0 me-md-auto fw-normal p-3">TASK TRACKER</p>
        <nav class="my-2 my-md-0 me-md-3" >
            <a class="p-3 text-dark" href="/">Главная страница</a>
                <a class="p-3 text-dark" href="/tasks">Задачи</a>
                <a class="p-3 text-dark" href="/users">Пользователи</a>
                <a class="p-3 text-dark" href="/tasks/add">Добавить новую задачу</a>
                <a class="p-3 text-dark" href="/users/add">Добавить нового пользователя</a>
            <a class="p-3 text-dark" href="/about">Про нас</a>
        </nav>

        <nav class="my-2 my-md-0 me-md-3" >
            <div th:if="${#httpServletRequest.remoteUser}">
                <h3 th:inline="text">Hello, [[${#httpServletRequest.remoteUser}]]!</h3>
                <form th:action="@{/logout}" method="post">
                    <button class="btn btn-danger" type="submit">Выйти</button>
                </form>
            </div>

            <a class="btn btn-outline-primary" href="/login">Войти</a>
            <a class="btn btn-outline-primary" href="/registration">Зарегистрироваться</a>
<!--            <a class="btn btn-danger" href="/logout" type="submit">Выйти</a>-->


        </nav>

    </header>
</div>